<h1>Lista de sillas disponibles:</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Material del tapizado</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="chair.image" [alt]="chair.brand"></td>
            <td>{{chair.brand}}</td>
            <td>{{chair.model}}</td>
            <td>{{chair.material}}</td>
            <td>{{chair.price}}</td>
        </tr>
        <tr>
            <td>Daza</td>
            <td>WN6621GRBK / WN6621REBK</td>
            <td>Cuero sintético</td>
            <td>$43,999</td>
        </tr>
        <tr>
            <td>Helitec</td>
            <td>SILLON GAMER 5727</td>
            <td>Cuero sintético</td>
            <td>$40,899</td>
        </tr>
    </tbody>
</table>